<div class="reset-password-container">
  <h2>Restablecer Contraseña</h2>
  <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
    <label for="newPassword">Nueva Contraseña</label>
    <input type="password" id="newPassword" formControlName="newPassword" placeholder="Ingrese nueva contraseña">

    <div *ngIf="resetPasswordForm.controls['newPassword'].invalid && resetPasswordForm.controls['newPassword'].touched" class="error">
      <small *ngIf="resetPasswordForm.controls['newPassword'].errors?.['required']">La contraseña es obligatoria.</small>
      <small *ngIf="resetPasswordForm.controls['newPassword'].errors?.['minlength']">Debe tener al menos 6 caracteres.</small>
    </div>

    <button type="submit" [disabled]="resetPasswordForm.invalid">Cambiar Contraseña</button>
  </form>
</div>
